<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam Bem Vindes ao meu Blog!</h1>
        </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos magnam voluptate vel necessitatibus
                cupiditate vero qui facilis, temporibus quae, ea tenetur alias sapiente. Tempora eos dignissimos impedit
                quibusdam ex quae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis blanditiis, quo necessitatibus officiis
                temporibus itaque! Sint molestiae numquam similique sit sunt nobis est. Nam veritatis, quibusdam nisi
                iure cum libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur ipsum ullam
                vero possimus aperiam minima laudantium sit totam inventore vitae esse illo neque nobis consectetur,
                deserunt sequi dolor mollitia.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus facere error quibusdam cumque dolore
                nemo rerum dolor ullam laudantium amet libero iste ipsum eligendi quod, ea eveniet, nostrum numquam
                alias.
            </p>

        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold"> Ver o feed</button>
        </div>
    </div>

