<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top round-circle w-75" src="https://img.myloview.com.br/posters/emoji-sorrindo-boa-emocao-emoticon-feliz-doce-vector-o-icone-do-sorriso-da-ilustracao-160-73886391.jpg" alt="Imagem de capa do card">
    
        </div>

        <div class="card-body">
        <h5 class="card-title tex-center text-monospace">Hellen Albuquerque</h5>
        <p class="card-text text-center text-monospace">Estudante de Desenvolvimento Web na Generation Brasil.</p>

        <a href="https://www.linkedin.com/in/hellenn-albuquerque/" class="btn btn-outline-info mb-3" target="_blank">Linkedin</a>

        <a href="https://github.com/hellen-Albuquerque" class="btn btn-outline-dark" target="_blank">Github</a>


    </div>
</div>